[init]
	defaultBranch = main
[user]
	name = Underwaterr
	email = 3163892+Underwaterr@users.noreply.github.com
[diff]
	tool = vimdiff

[credential]
	helper = store

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	ff = only
	rebase = false
