set keyseq-timeout 1

# show if I'm in `vi` mode or not
set show-mode-in-prompt on
set vi-ins-mode-string "✨"
set vi-cmd-mode-string "⭐"

# ignore case when doing tab completion
set completion-ignore-case on

# something about completion in the middle of a command?
set skip-completed-text on

# tab once to show possible options
set show-all-if-ambiguous on
set show-all-if-unmodified on


